{% extends 'BikePartnerBundle::layout.html.twig' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        代理商
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 首页</li>
        <li>用户管理</li>
        <li class="active">代理商</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">列表</h3>

              <div class="box-tools">
                <a href="{{ path('admin_new') }}" class="btn btn-sm btn-block btn-primary">新增</a>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>ID</th>
                  <th>用户名</th>
                  <th>名称</th>
                  <th></th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>alibaba</td>
                  <td>阿里巴巴</td>
                  <td></td>
                </tr>
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
{% endblock %}
